/* --- PAGE --- */

.page-container{
    background-color: rgb(210,200,204);
    width:100%;
}

/* --- HEADER --- */

.header-container{
    background-color: #336699;
}

/* --- COLLECTION --- */

.collection-container{
    /* background-color:grey; */
}

.image-container{
    margin:0;
}

.imageMetaData p {
    margin: 0;
    padding: 0;
}

.thumbnails img {
    width: 300px;
    height: 300px;
    overflow: auto;
}

.slider-casing{
    margin:0;
}

/* --- DATA --- */

#videoElement {
    width: 100%;
    height: 100%;
    background-color: #666;
}

#takePhoto {
    position: fixed;
}
