/* --- PAGE --- */

.page-container{
    background-color: rgb(210,200,204);
    width:100%;
}

/* --- HEADER --- */

.header-container{
    background-color: #336699;
}

/* --- COLLECTION --- */

.image-container{
    margin: 0;
    position: relative;
    cursor: default;
}


.camera-icon{
    position: absolute;
    right:10px;
    top: 50px;
    height:  50px;
    width:  50px;
    cursor: pointer;
    background-color:red;
}

.image-small{
    max-width:100%;
    max-height:100%;
}

.image-scroll{
    margin: 1px;
}

.collection-container{
    /* background-color:grey; */
}


#basic{
    background-color: #333FFF;
}

.imageMetaData p {
    margin: 0;
    padding: 0;
}

.thumbnails img {
    width: 300px;
    height: 300px;
    overflow: auto;
}

.slider-casing{
    margin:0;
}

/* --- DATA --- */

.chartRow {
    height: auto;
}

#resultBarChart {
    margin-top: 20%;
}

/* --- CAMERA OVERLAY --- */

#videoElement {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#embeddedVideoElement {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#centerTakePhoto {
    position: absolute;
    left: 50%;
    top: 80%;
}

#takePhoto {
    position: relative;
    left: -50%;
    color: white;
}

#openOverlay {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 15%;
    width: 15%;
}

#closeOverlay {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 15%;
    width: 10%;
}
