/* --- PAGE --- */

html, body{
    height: 100%;
    margin: 0;
}

.page-container{
    background-color: #ccc;
    width:100%;
    height:100%;
    padding:0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin:0;
}

.box .flexrow {
    flex: 0 1 1px;
}


.box .flexrow.content {
    flex: 1 1 auto;
    flex-shrink: 2;
}


/* --- HEADER --- */

.header-text{
    text-align:center;
}

.header-container{
    background-color: #336699;
    color:#ccc;
}

/* --- COLLECTION --- */

.image-container{
    margin: 0;
    position: relative;
    cursor: default;
    padding-bottom:1px;
}


#camera-icon{
    position: absolute;
    right:10px;
    top: 50px;
    height:  50px;
    width:  50px;
    cursor: pointer;
}

.image-small{
    width:100%;
    height:100%;
    margin:0;
    border-width:1px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

.image-scroll{
    margin: 1px;
}


#basic{
    background-color: #333;
    line-height:0px;
}

.imageMetaData p {
    margin: 0;
    padding: 0;
}

.thumbnails img {
    width: 300px;
    height: 300px;
    overflow: auto;
}

.slider-casing{
    margin:0;
}

/* --- DATA --- */

.chart-container{
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position:absolute;
    height:100%;
    background-color:#CCC,
    overflow:hidden;
    margin:0;
    padding:0 !important;
}

.chartRow {
    background-color:#ccc;
    position:relative;
    overflow:hidden;
    margin: 0;
    padding:0 !important;
    border-width:0px;
}

#resultBarChart {
    position:absolute;
    bottom:10px;
}

/* --- CAMERA OVERLAY --- */

#videoElement {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#embeddedVideoElement {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#centerTakePhoto {
    position: absolute;
    left: 50%;
    top: 80%;
}

#takePhoto {
    position: relative;
    left: -50%;
    color: white;
}

#openOverlay {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 15%;
    width: 15%;
    z-index: 50;
}

#closeOverlay {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 15%;
    width: 10%;
}

#displaySavedPic {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 40;
}

.border {
    position: relative;
}

.border::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.5);
    transition: box-shadow .1s ease;
}

.border:hover::after {
    box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);
}
.border-small {
    position: relative;
}

.border-small::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.5);
    transition: box-shadow .1s ease;
}

.border-small:hover::after {
    box-shadow: inset 0 0 0 4px rgba(255,255,255,.5);
}

.webcam-container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position:absolute;
    left:50%;
    height:100%;
    background-color:#ccc,
    overflow:hidden;
    margin:0;
    padding:0 !important;
    top:20px;
}

.snapPhoto{
    margin: 0 !important;
    padding: 0 !important;
}
